{% doc %}
  Renders a spacer block for adding vertical or horizontal spacing.

  @example
  {% render 'spacer', block: block %}
{% enddoc %}

<div
  class="spacer {{ block.settings.spacer_direction }}"
  style="
    {% if block.settings.spacer_direction == 'vertical' %}
      height: {{ block.settings.spacer_size }}px;
    {% else %}
      width: {{ block.settings.spacer_size }}px;
    {% endif %}
  "
  {{ block.shopify_attributes }}
></div>
